<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm Password</title>
</head>
<body>
    <main>
        <h1> <strong>Привіт, {{userName}}! </strong></h1>
        <p> Для підтвердження електронної пошти перейдіть за <a href="{{confirmationLink}}">цим посиланням</a> </p>
    </main>
</body>
</html>